---
export const prerender = false;

import { getEntry } from "astro:content";
import { ThemeToggle } from "confstellation:components";
import config from "confstellation:config";

import "confstellation:styles";

const { slug } = Astro.params;
const entry = await getEntry("confstellation", slug ?? "index");
if (entry === undefined) {
  return Astro.rewrite("/404");
}

const { Content } = await entry.render();

const year = new Date().getFullYear();
---

<html lang="en">
  <head>
    <script
      src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
    ></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{entry.data.title}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {
            config.nav.map((n) => {
              return (
                <li>
                  <a href={n.link}>{n.label}</a>
                </li>
              );
            })
          }
        </ul>
      </nav>
      <!-- <ThemeToggle /> -->
    </header>

    <main>
      <Content />
    </main>
    <footer>
      <p>
        &copy; <span id="footer-year">{year}</span> - All rights reserved
      </p>
    </footer>
  </body>
</html>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>

<style>
  body {
    background: linear-gradient(to top right, #0f1c98, #7310a2);
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    min-height: 100vh;
  }

  header {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr auto;
    padding-block: var(--space-xs);
    padding-inline: var(--space-m);
  }

  nav {
    display: flex;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: var(--space-xs);
      li {
        border-radius: var(--space-3xs);
        a {
          padding: var(--space-3xs);
          border-radius: var(--space-3xs);
          display: block;
          text-decoration: none;
          color: light-dark(black, white);

          &:hover {
            background: light-dark(var(--neutral-200), var(--neutral-800));
          }

          &:focus {
            background: light-dark(var(--neutral-200), var(--neutral-800));
          }
        }
      }
    }
  }

  main {
    width: 100vw;
    padding-inline: var(--space-m);
  }

  footer {
    padding-inline: var(--space-xs);
    padding-block: var(--space-xs);
    display: flex;
    justify-content: center;
    font-size: var(--step--1);
  }
</style>
